@{
    Layout = "BaseLayout.cshtml";
}
@RenderSection("Styles", false)
@section BodyContent{
    <link rel="stylesheet" type="text/css" href="~/Content/css/estilos.css">
}
@section NavBar{
    <div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
        <a class="navbar-brand" href="/Home/Login">Consorcios Infonete</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container">

}

@RenderBody()
</div>
@RenderSection("Scripts", false)