<div class=" fixed-bottom bg-dark py-2">
    <div class="container text-white">
        Programacion Web 3 20202C - Grupo 2? - {Tomas Garcia - Marcos Cabral - Federico Rodriguez -Ailen Aguino}
    </div>
</div>