
@{
    if (ViewBag.flag != null)
    {
        Layout = "~/Views/Shared/LogueadoLayout.cshtml";
    }
    else {
        Layout = "~/Views/Shared/AnonimoLayout.cshtml";
    }


}
    <div class="row my-5 align-items-center">
        <div class="col-sm-5 text-right">
            @if (ViewBag.error != null)
            {
                <img src="~/Content/img/edificio.png" class="w-100" style="opacity:0.9;"/>
            }
            else
            {
                <img src="~/Content/img/error.png" class="w-75" style="opacity:0.9;"/>
            }
        </div>
        <div class="col-sm-6">
            <h2 class="display-2">@ViewBag.Title</h2>
            <h4 class="border-top border-danger pt-4">@ViewBag.Description</h4>
            <a href="/Consorcio/Lista" class="btn btn-outline-danger mt-4 btn-block">Volver al Inicio</a>
        </div>
    </div>

