@model Repositories.Context.Gasto
@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/LogueadoLayout.cshtml";
}
<div class="container py-5 mt-5">
    <form action="/Gastos/EliminarGasto" class="form-signin text-center" method="post">
        <h2>¿Estás seguro que deseas Eliminar el gasto " @Model.Nombre " del consorcio " @Model.Consorcio.Nombre"?</h2>
        @Html.HiddenFor(Model => Model.IdGasto, new { htmlAttributes = new { @Value = Model.IdGasto } })
        <div class="mt-3">
            <button class="btn btn-lg btn-primary mr-4">Eliminar</button>        
            <a href="/Gastos/VerGastos?idConsorcio=@Model.IdConsorcio" class="btn btn-lg btn-danger">Cancelar</a>         
        </div> 
    </form>
</div>
